# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\stree\Google Drive\DAM\Programación\segunda evaluacion\programacion orientada a objetos\Ejercicios para hacer\Código\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
